html{
    font-size: 1.2vh;
    letter-spacing: 0.1%;
}
/*----------- Categorie -----------*/
.categorie{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 70%;
    border-radius: 15px;
    background-color: #797979; 
    justify-content: space-evenly;
}

.itemsCategorie{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}

.sousItems{
    margin-top: auto;
    margin-bottom: auto;
}

.separatorCaterogie{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
	height: 80%;
	width: 2px;
	background-color: #868686;
}

.catL{
margin-left: 2%;
}
.catR{
margin-right: 2%;
}


