html{
    font-size: 1.2vh;
    letter-spacing: 0.1%;
    font-family: 'Balsamiq Sans', cursive;
}



body{
    background-color: #0f4c75;
    color: red;
    font-size: 1.4rem;
    height: 100vh;
    width: 100vw;
    padding:0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    box-sizing: border-box;
    color: white;
    border:2px solid rgba(48, 41, 41, 0.137) ;
}
/*----------- HEADER -----------*/
header{
    display: flex;
    align-items: center;
    background-color: #1b262c;
    height: 50px;
    justify-content: space-between;
    margin-bottom: 0.2%;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    -moz-box-shadow: 0px 2px 6px 0px #00000093;
    -webkit-box-shadow: 0px 2px 6px 0px #00000093;
    -o-box-shadow: 0px 2px 6px 0px #00000093;
    box-shadow: 0px 2px 6px 0px #00000093;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#00000093, Direction=180, Strength=6);
}

.imgWH{
    width: 15vw;
    height: 15vh;
}

.separator{
    margin-top: 0.1%;
    margin-bottom: 0.1%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
	height: 2px;
	width: 80%;
	background-color: #868686;
}

.separator2{
    margin-top: 0.1%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
	height: 2px;
	width: 40%;
	background-color: #868686;
}

.babel{
    color: red;
    margin-left: 2%;
}

.title{
    font-size: 3rem;
    letter-spacing: 0.8rem;
    margin-right: 10%;
}
/*----------- NAV -----------*/
nav{
    display: flex;
    align-items: center;
    background-color: #1b262c;
    height: 50px;
    justify-content: space-between;
    border-top:1px solid rgba(27, 25, 25, 0.548);
    border-bottom:1px solid rgba(27, 25, 25, 0.548);
}

.Menu{
    display: flex;
    flex-direction: row;
    font-size: 2.5rem;
}

.Menu a {
    text-decoration: none;
    margin-left: 30px;
    color: aliceblue;
}

/*----------- Background -----------*/
.background{
    height: 80%;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #173d57;
    margin-top: 1%;

}



/*----------- FOOTER -----------*/
footer{
    background-color: #1b262c;
    color: #ffffff;
    padding: 5px 0;
    padding-left: 75px;
}


