
/*----------- HTML -----------*/
html{
    font-size: 1.2vh;
    letter-spacing: 0.1%;
}

/*----------- SECTION INFO MAGAZINE-----------*/
.infoMag{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.infoMag div img{
    height: auto;
    width: 300px;

}

.infoMag div{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-right: 50px;
}
.infoMag div h1{
    text-align: center;
    width: 80%;
    font-size: 2.5rem;
    margin-left: 40px;
    border-bottom: 2px rgba(196,196,196,0.5) solid;
}

.infoMag div ul{
    list-style: none;
    padding: 0;
    font-size: 1.3rem;
}

