/* Tu pensais sérieusement que t'allais avoir un truc tout prêt ? */

/* Allez va bosser au lieu de fouiller ! */

body{
    font-family: 'Balsamiq Sans', cursive;
    background-color: #364546;
    color: red;
    font-size: 12px;
    height: 100vh;
    width: 100vw;
    padding:0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    box-sizing: border-box;
    color: white;
}
/*----------- HEADER -----------*/
header{
    display: flex;
    align-items: center;
    background-color: #393b3c;
    height: 50px;
    justify-content: space-between;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.babel{
    color: red;
}

.title{
    font-size: xx-large;
}
/*----------- NAV -----------*/
nav{
    display: flex;
    align-items: center;
    background-color: #484848;
    height: 50px;
    justify-content: space-between;
}

.Menu{
    display: flex;
    flex-direction: row;
}

.Menu p{
    margin-left: 30px;
}
/*----------- SECTION -----------*/
.VueEnsemble{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #343434;
    margin-top: 30px;
}

.VueEnsemble article{
    padding: 10px 0;
}

.VueEnsemble article img{
    width: 150px;
}

/*----------- SECTION INFO MAGAZINE-----------*/
.infoMag{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.infoMag div img{
    height: auto;
    width: 300px;

}

.infoMag div{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-right: 50px;
}
.infoMag div h1{
    text-align: center;
    width: 200px;
    font-size: 2.5em;
    margin-left: 40px;
    border-bottom: 2px rgba(196,196,196,0.5) solid;
}

.infoMag div ul{
    list-style: none;
    padding: 0;
    font-size: 1.3em;
}
/*----------- CLASSE SPECIALE -----------*/
.separateurV{
    height: 275px;
    margin: auto 0px auto 0px;
    width: 20px;
    border-left: 2px rgba(0,0,0,0.5) solid;
}

/*----------- FOOTER -----------*/
footer{
    background-color: #4f4c4c;
    color: #373535;
    padding: 5px 0;
    padding-left: 75px;
}


